$move-card-up: -30px;
$revealed-card: scale(1) translateX(220px) translateY(-150px) rotate(-20deg);
$pick-card--animation: 1.2s;

@mixin pick-card-position() {
    position: absolute;
    top: $move-card-up;
}

#board {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/img/wooden-table.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-stack {
    position: relative;
    margin-right: 70px;
    margin-top: 70px;

    img {
        position: absolute;
        width: 175px;
    }

    #top-card {
        cursor: pointer;
        transition: transform 160ms ease-out;

        &:hover {
            transform: translateY($move-card-up);
        }
    }
}

.played-card {
    @include pick-card-position();
    transform: $revealed-card;
}

.picked-card {
    @include pick-card-position();
    animation: pick-card-animation $pick-card--animation ease-in-out forwards;
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    60% {
        transform: scale(1.3);
    }

    100% {
        transform: $revealed-card;
    }
}

#players-container-outer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 90px;
    padding: 20px 0;
}

#players-container {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // gap: 15px;
    overflow: hidden;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#rule-info {
    background-color: honeydew;
    padding: 0 20px;
    flex-grow: 1;
    margin-right: 30px;
    border-radius: 15px;
}

// #btn-add-player {
//     position: absolute;
//     right: 30px;
//     bottom: 30px;
// }